
/*font for navbar items*/
@font-face {
    font-family: 'Gentona';
    src: local('Gentona'), url(../fonts/Gentona\ Complete/Gentona\ Medium.otf);
}

/*font for Agency logo */
@font-face {
    font-family: 'Perandory';
    src: local('Perandory'), url('../fonts/PERANDORY/Perandory-Regular.otf');
}

a:link, a:visited, a:hover, a:focus {
    text-decoration: none;
    color: white;
}
/* navbar and navbar items */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    font-family: 'Perandory';
    z-index: 1;

}

@media (min-width: 640px) {
    .navbar-entry {
    font-family: 'Gentona';
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    }
    .logo {
        font-size: 2.2rem;
    }
    
    .standard-right{
        display: flex;
    }
    .hamburger {
        display: none;
    }
    .navbar{
        padding: 1rem 2.2rem 1rem 2.2rem;
    }



}

@media (max-width: 640px) {
    .navbar-entry {
    font-family: 'Gentona';
    font-weight: 400;
    font-size: 1.25rem;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    }
    .logo{
        font-size: 2rem;
    }
    .standard-right{
        display: none;
    }
    .hamburger {
        display: inline;
    }
    .navbar{
        padding: 1rem 1.90rem 1rem 1.90rem;
    }
}

.right-navbar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}