@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Color Variables */
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --purple: #AB9BFF;
    --purple-60: rgba(171, 155, 255, 0.6); /* Adjust the RGBA values as needed */

    /* Font Variables */
    --primary-font: 'Magistral', sans-serif;
    --secondary-font: 'Gentona', sans-serif;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--primary-color);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}

h2,h3,h4,h5,h6 {
  font-family: var(--primary-font);
  font-weight: bold;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
  font-weight:medium;
}

form {
  font-family: var(--secondary-font);
  font-weight: 400;
}
textarea, input {
  background-color: var(--purple-60);
  border-color: var(--purple);
  border-width: 0.2rem;
  border-radius: 0.2rem;
}

.blob-container {
  overflow-x: hidden;
}


.checkbox-container {
  @apply flex items-start gap-2; /* Align items vertically start and add gap */
}

.checkbox {
  @apply appearance-none bg-transparent align-middle w-6 h-6 border-2 border-current rounded;
  min-width: 1.5rem;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  color: var(--purple);
  transition: background-color 120ms ease-in-out, border-color 120ms ease-in-out;
}

.checkbox::before {
  content: '';
  width: 0.8em;
  height: 0.8em;
  transition: transform 120ms ease-in-out, opacity 120ms ease-in-out;
  opacity: 0; /* initially hidden */
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(10% 50%, 0% 60%, 40% 100%, 100% 20%, 90% 10%, 35% 75%);
  box-shadow: inset 1em 1em currentColor;
}

.checkbox:checked {
  background-color: var(--purple); /* fill the box with purple */
  border-color: var(--purple); /* same for border */
}

.checkbox:checked::before {
  opacity: 1; /* make the checkmark visible */
  transform: scale(1); /* return to normal size */
  box-shadow: inset 1rem 1rem var(--secondary-color); /* make the checkmark white */
}

.checkbox:focus {
  @apply outline-none;
  outline: max(1px, 0.15rem) solid currentColor;
  outline-offset: max(2px, 0.15rem);
}

/* ========== Perandory Font Faces ========== */
@font-face {
  font-family: 'Perandory';
  src: url('./assets/fonts/PERANDORY/Perandory-Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Perandory';
  src: url('./assets/fonts/PERANDORY/Perandory-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Perandory';
  src: url('./assets/fonts/PERANDORY/Perandory-Semi-Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* ========== Magistral Font Faces ========== */
@font-face {
  font-family: 'Magistral';
  src: url('./assets/fonts/magistral/MagistralBlack.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Magistral';
  src: url('./assets/fonts/magistral/Magistral Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Magistral';
  src: url('./assets/fonts/magistral/Magistral Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* ========== Gentona Font Faces ========== */
/* Gentona Book */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Book Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Gentona ExtraLight */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona ExtraLight.otf') format('opentype');
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona ExtraLight Italic.otf') format('opentype');
  font-weight: 250;
  font-style: italic;
}

/* Gentona Bold */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Bold Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Gentona ExtraBold */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona ExtraBold Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

/* Gentona Heavy */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Heavy Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* Gentona Light */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Gentona Medium */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Medium Italic.otf') format('opentype');
  font-weight: 400; /* Adjust if necessary */
  font-style: italic;
}

/* Gentona SemiBold */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona SemiBold Italic.otf') format('opentype');
  font-weight: 400; /* Adjust if necessary */
  font-style: italic;
}

/* Gentona Thin */
@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Thin.otf') format('opentype');
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: 'Gentona';
  src: url('./assets/fonts/gentona/Gentona Thin Italic.otf') format('opentype');
  font-weight: 250;
  font-style: italic;
}